.signup-container,
.login-container {
  width: 450px;
  height: auto;
  padding: 48px 40px 36px;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #dadce0;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  min-height: 450px;
  overflow-y: auto;
}

.signup-header,
.signup-form,
.login-form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  /* justify-content: space-evenly; */
  /* align-content: space-around; */
  /* justify-content: space-around; */
}

.signup-row,
.session-row.session-input,
.signup-input,
.signup-footer,
.session-footer {
  width: 100%;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  line-height: 24px;
  /* height: 20px; */
  padding: 16px 0 8px;
  font-size: 14px;
  margin-right: 0px;
}
.signup-input,
.session-input {
  position: relative;
}

.signup-header,
.login-header {
  font-size: 24px;
  font-family: 'Google Sans', arial, sans-serif;
  margin: 0;
}
.signup-text {
  font-size: 12px;
}
.login-text {
  font-size: 18px;
}
.signup-footer,
.login-footer,
.session-footer {
  cursor: pointer;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.25px;
  font-size: 14px;
  margin-top: 16px;
}
.session-link {
  color: #1a73e8;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  text-decoration-line: none;
  text-transform: none;
}
a:-webkit-any-link {
  text-decoration: none;
  text-decoration-line: none;
  text-transform: none;
  color: #1a73e8;
}
input[type='submit'] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #1a73e8;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
  float: right;
  width: auto;
  font-weight: bold;
}
/* input.signup, input.login {
	font-size: 14px;
	padding: 7px 9px 7px 0;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
	text-indent: 7px;
} */
input {
  width: 100%;
  padding: 0.625rem 10px;
  font-size: 1rem;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: 1px solid #ccc;
  background: transparent;
  border-radius: 4px;
  margin: 7px 7px 0 0;
  /* padding: 7px 9px 7px 0; */
}
/* input.signup:active, input.signup:focus, input.login:active, input.login:focus {
	border: 2px solid #1a73e8;
	vertical-align: top;
	border-radius: 4px;
} */
label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: transparent;
  pointer-events: none;
  transition: 0.5s;
}
input.signup:focus ~ label,
input.login:focus ~ label {
  color: #1a73e8;
  /* top: -1.125rem; */
  left: 10px;
  font-size: 0.75rem;
  background-color: white;
  height: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
input:focus::-webkit-input-placeholder {
  visibility: hidden;
}
