html,
body,
ul,
p,
h3,
button {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  border: none;
}

html,
body {
  height: 100%;
}

body {
  /* background-color: #B2EBF2; */
}

li {
  list-style: none;
}

#content {
  display: flex;
  justify-content: center;
}

.app {
	display: flex;
  width: 1240px;
  min-width: 600px;
  margin: 64px auto;
	justify-content: center;
	height: 100%;
}

.flex-col,
.todo-list,
.todo-form,
.step-form,
.todo-form label,
.step-form label,
.step-list {
  display: flex;
  flex-direction: column;
}

.flex-row,
.todo-list .todo-list-item .todo-header,
.step-list .step-header,
.step-list .step-header .step-buttons {
  display: flex;
  flex-direction: row;
}

h1 {
  margin-top: 40px;
  text-align: center;
  color: black;
}

h3 {
  margin-bottom: 5px;
}

.button,
.done,
.undone,
.delete-button,
.create-button {
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  /* color: #ffffff; */
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px;
}

.undone {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDR2N2wyIDN2MmgtNnY1bC0xIDEtMS0xdi01SDV2LTJsMi0zVjRjMC0xLjEuOS0yIDItMmg2YzEuMTEgMCAyIC44OSAyIDJ6TTkgNHY3Ljc1TDcuNSAxNGg5TDE1IDExLjc1VjRIOXoiLz4KPC9zdmc+Cg==);
  background-repeat: no-repeat;
}
.done {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDRhMiAyIDAgMCAwLTItMkg5Yy0xLjEgMC0yIC45LTIgMnY3bC0yIDN2Mmg2djVsMSAxIDEtMXYtNWg2di0ybC0yLTNWNHoiLz4KPC9zdmc+Cg==);
  background-repeat: no-repeat;
}

.button:focus,
.done:focus,
.undone:focus,
.delete-button:focus,
.create-button:focus,
a:focus {
  outline: none;
}

.button:hover,
.done:hover,
.undone:hover,
.delete-button:hover,
.create-button:hover {
  /* background-color: #0097A7; */
}

.done {
  /* background-color: #757575; */
}

.undone {
  /* background-color: #00BCD4; */
}

.delete-button {
  /* background-color: #FF4081; */
  background-image: url('/Users/eqdang/Downloads/keepster/public/images/delete-icon.svg');
  background-repeat: no-repeat;
  right: 0;
}
.delete-button:hover {
  background-color: #757575;
}

.create-button {
  display: flex;
  width: 50%;
  margin: 10px 15px 10px auto;
  /* background-color: #00BCD4; */
  text-align: right;
  width: fit-content;
}

.input {
  padding: 5px;
}

.todo-list {
	height: auto;
}
li.todo-list-item {
	position: relative;
	cursor: default;
}
.todo-list .todo-list-item {
  background-color: #ffffff;
  padding: 20px 20px 0;
  margin: 10px 8px;
  border: 1px solid #e0e0e0;
	border-radius: 5px;
	width: 240px;
	height: auto;
	position: relative;
}
.todo-list .todo-list-item .todo-header {
  justify-content: space-between;
  /* align-items: center; */
	/* cursor: pointer; */
	max-height: 420px;
	height: auto;
}
.todo-header.truncate, 
.todo-header a.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
}
.todo-header button {
	margin-top: 0;
}
.todo-list .todo-list-item .todo-header a {
	font-weight: bold;
	max-width: 200px;
	max-height: 80px;
	word-break: break-all;
	line-break: auto;
	word-wrap: break-word;
	text-overflow: ellipsis;
}
.todo-list .todo-list-item .todo-header p {
	max-width: 200px;
	max-height: 300px;
	word-break: break-all;
	line-break: auto;
	word-wrap: break-word;
	text-overflow: ellipsis;
	margin: 0 auto 10px;
	overflow: hidden;
}
.todo-list .todo-list-item .todo-body {
	margin: 0 auto 10px;
	word-break: break-all;
	line-break: auto;
	word-wrap: break-word;
	max-height: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.todo-form {
  margin-top: 146px;
  /* padding-top: 46px; */
}
.todo-form label,
.step-form label {
  margin: 10px 20px;
}
.todo-form,
.step-form input {
  margin: 10px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  overflow: visible;
}
.todo-form input,
.todo-form textarea {
  border: none;
}
.todo-form input:active,
.todo-form textarea:active {
  border: none;
}
input.note-form {
  margin-bottom: 40px;
  width: 400px;
  padding: 12px 16px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  font-family: 'Roboto', Arial, sans-serif;
}

a {
  /* cursor: pointer; */
}

.step-list {
  margin-left: 20px;
}
.step-list .step-header {
  margin: 20px 0;
  list-style: none;
}
.step-list .step-header .step-info {
  width: 70%;
}

.step-form {
  /* background-color: #B2EBF2; */
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}

.truncate {
	overflow: hidden;
	white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}