.lightBulbWrapper {
  background-color: inherit;
  width: calc(100% - 25px);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.lightBulbContainer {
  min-width: 300px;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lightBulbIconContainer {
}

.lightBulbIcon {
  height: 120px;
  width: 120px;
  margin: 20px;
}

.notesCopy {
  color: #9f9f9f;
  background-color: inherit;
  font-size: 20px;
  font-family: 'Roboto Slab',serif;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.notesIndexWrapper {
  background-color: inherit;
  width: calc(100% - 25px);
  min-height: 300px;
  box-sizing: border-box;
  margin: 30px 0px 45px;
}

.notesIndexIndividualWrapper {
  background-color: inherit;
  width: calc(100% - 25px);
  box-sizing: border-box;
  margin: 30px 0px 45px;
}

.notesIndex {
  background-color: inherit;
  width: calc(100% - 25px);
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  margin: 13px;
}

.pinnedText {
  color: #5f6368;
  letter-spacing: .07272727em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
}