.lightBulbWrapper {
  background-color: inherit;
  width: calc(100% - 25px);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.lightBulbContainer {
  min-width: 300px;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lightBulbIcon {
  height: 120px;
  width: 120px;
  margin: 20px;
}

.notesCopy {
  color: #9f9f9f;
  background-color: inherit;
  font-size: 20px;
  font-family: 'Roboto Slab',serif;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.notesIndexWrapper {
  background-color: inherit;
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
	margin: 30px 0 45px;
	height: auto;
}

.notesIndexIndividualWrapper {
  background-color: inherit;
  width: 100%;
  box-sizing: border-box;
	margin: 30px 0 45px 8px;
	height: auto;
}

.notesIndex {
  background-color: inherit;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
	margin: 13px auto;
	height: auto;
}

.pinnedText {
  color: #5f6368;
  letter-spacing: .07272727em;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: .6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
}

a.truncate {
	width: 200px;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
}