.modal-background {
  /* transition: all 500ms ease-in-out; */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #202124;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  opacity: .85;
}

.modal-child {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: ; */
  background-color: #fff;
  width: 600px;
  height: auto;
  padding: 25px;
  margin: 76px 0 30px;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-position: top;
  /* text-align: center; */
  overflow-y: auto;
	z-index: 2000;
	opacity: 1;
}




.note-modal {
	background-color: white;
	opacity: 1;
	z-index: 3000;
	overflow-wrap: break-word;
	line-break: normal;
	width: 600px;
}
.note-modal-footer,
.note-modal-toolbar {
	display: flex;
	flex-flow: row nowrap;
}