.noteDefaultForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  font-size: 15px;
  padding: 5px 20px;
  width: 600px;
  height: 48px;
  box-shadow: 0 1px 6px #9c9c9c;
  margin: 3px;
  color: #737373;
  font-family: 'Roboto Slab', serif;
  font-weight: 10;
}

.noteDefaultForm:hover {
  cursor: text;
}

.noteFormIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.noteFormIcon {
  height: 25px;
  width: 25px;
}

.noteClickedForm {
  color: #737373;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 2px;
  width: 600px;
  box-shadow: 0 1px 6px #9c9c9c;
  margin: 3px;
  min-height: 136px;
  padding: 5px 20px 0 20px;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 17px;
  flex-wrap: wrap;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  width: 100%;
  font-weight: bold;
  margin-top: 10px;
}

#titleForm,
#bodyForm {
  width: 100%;
  overflow-wrap: normal;
  height: auto;
}

#bodyForm {
  resize: none;
}

.bodyDiv {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  color: black;
  width: 100%;
  margin-top: 15px;
}

.formBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}

.bottomButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 135px;
}

.noteIcon {
  width: 18px;
  height: 18px;
  opacity: 2;
  cursor: pointer;
}

.bottomClose {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 3px;
  height: 30px;
  width: 78px;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

.bottomClose:hover {
  cursor: pointer;
  background-color: #00000014;
}

.image-upload > input {
  display: none;
}
