#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	min-width: 80px;
	max-width: 200px;
	background-color: #fff;
	opacity: 1;
	z-index: 998;
	margin: 64px 0 0;
	padding: 15px 0 0 8px;
}

.expanded-sidebar {
	display: flex;
	flex-flow: column nowrap;
	width: 250px;
	height: 100%;
}
.expanded-sidebar .sidebar-icon {
	height: 46px;
	display: flex;
}
.expanded-sidebar .sidebar-icon label {
	width: 80px;
	height: 46px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	vertical-align: middle;
}
.expanded-sidebar .sidebar-icon label i {
	/* padding: 0; */
	font-size: 18px;
	margin: auto;
}
.expanded-sidebar .sidebar-icon a {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Google Sans', 'Roboto', Arial, sans-serif;
}
.expanded-sidebar .sidebar-icon a:hover,
.expanded-sidebar .sidebar-icon a:visited {
	text-decoration: none;
	cursor: pointer;
	color: #202124;
	font-weight: 500;
}
.expanded-sidebar .sidebar-icon button {
	text-decoration: none;
	font-size: 14px;
}


.mini-sidebar {
	width: 80px;
	height: 100%;
}
